
@{
    ViewData["Title"] = "Status";
    ViewData["Page"] = "Status";

    var query = this.Context.Request.Query;
}

@section Styles {

    <style type="text/css">
    
        #background {
            background-image: url('../images/sand-texture1.png');
        }


        .content {
            color: #f0f0f0;
        }

        .content2 {
            
            background-color: white;
            background-image: url('../images/grass-texture1.png');
            border-radius: 16px;
            border-color: rgb(240, 240, 240);
            border-width: 6px;
            border-style: solid;

            width: 100%;
            height: 600px;

            padding-left: 0px;
            padding-top: 0px;
            padding-right: 0px;
            padding-bottom: 32px;
            color: black;
            font-size: 20px;
        }

        a {
            color: blue;
        }
        
    </style>

}



<div style="margin-top: 32px;">
<div class="content">
<div class="content2">

    <div align="center">
                <div style="background-color: #b1a480; padding: 24px; border-bottom-width: 8px; border-bottom-color: #daca9d; border-bottom-style: solid">
                    
            @if (query["StatusCode"] == "1")
                    {
                        <img src="../images/success-icon.png" style="height: 300px" />
                    }

            @if(query["StatusCode"] == "2")
            {
                <img src="../images/error-icon.png" style="height: 300px" />
            }

        </div>
        <br /><br />

                <div style="width: 50%; text-align: left">
                    @{
                       

                        if (query["ActionName"] == "Login" && query["StatusCode"] == "1")
                        {
                            <b style="background-color: white; width: fit-content">Login Successful</b>
                            <p style="background-color: white; width: fit-content">
                                Your sign-in process completed successfully.
                            </p>
                            <a href="/Home/Index">Return to Homepage</a>

                        }

                        if (query["ActionName"] == "Login" && query["StatusCode"] == "2")
                        {
                            <b style="background-color: white; width: fit-content">Login Failed</b>
                            <p style="background-color: white; width: fit-content">
                                Please enter a valid username or password to authenticate.<br />
                                If you do not have a user account, you can create one now.<br />
                            </p>

                            <a href="/User/Register">Click here to create your user account.</a>
                        }

                        if (query["ActionName"] == "Register" && query["StatusCode"] == "1")
                        {
                            <b style="background-color: white; width: fit-content">Registration Successful</b>
                            <p style="background-color: white; width: fit-content">
                                Your registration process completed successfully.
                            </p>
                            <a href="/Home/Index">Return to Homepage</a>

                        }

                        if (query["ActionName"] == "Register" && query["StatusCode"] == "2")
                        {
                            <b style="background-color: white; width: fit-content">Registration Failed</b>
                            <p style="background-color: white; width: fit-content">
                                Please complete all the required fields and provide a strong.<br />
                                password with a minimum of four alphabetical letters, two numerical<br />
                                digits and two special symbols.
                            </p>
                            <a href="/User/Register">Try again</a>
                        }
                    }
                </div>

    </div>
</div>
</div>
</div>